{% extends "base.html" %}
{% load filter_block %}

{% block title %}Панель користувача{% endblock %}

{% block content %}

    <h1>Панель користувача</h1>

    <p>Вітаємо, {{ user.first_name }} {{ user.last_name }}.</p>

        {% for order in orders_list %}
            <br>№ {{ order.id }}.<br>
            {% if product_list|get_item:order.id %}
                <b>products</b>:<br>
                {% for product in product_list|get_item:order.id %}
                    {{ product.product.name }}<br>
                {% endfor %}
            {% endif %}
            <hr>
        {% endfor %}

    <br>

    Ви можете <a href="{% url "edit" %}">змінити інформацію аккаунту</a> або
    <a href="{% url "password_change" %}">змітити пароль</a>.

{% endblock %}
