{% extends "base.html" %}

{% block title %}Зміни в аккаунті{% endblock %}

{% block content %}

    <h1>Зміни в аккаунті</h1>
    <p>Ви можете редагувати вашу інформацію використувуючи форму:</p>

    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Застосувати"></p>
    </form>
    
{% endblock %}