{% extends 'base.html' %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block content %}

    <h1>Вход в личный кабинет</h1>

    <p>Введите данные необходимые для входа:</p>

    <form action="." method="post">

        {{ form.as_p }}

        {% csrf_token %}
        <p>
            <input type="submit" value="Войти">
        </p>
    </form>

{% endblock %}