{% extends "base.html" %}

{% block title %}Вітаємо на сайті GoZa{% endblock %}

{% block content %}

    <h1>Вітаємо на сайті, {{ new_user.first_name }}!</h1>

    <p>
        Ваш аккаунт успішно створенно!
        Зараз ви можете виконати <a href="{% url "login" %}">Вхід</a>.
    </p>
{% endblock %}