{% extends "base.html" %}

{% block title %}Реєстрація на GoZa{% endblock %}

{% block content %}


    <main id="authentication" class="inner-bottom-md">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <section class="section sign-in inner-right-xs">
                        <h2 class="bordered">Реєстрація</h2>

                        {% if form.errors %}
                            <p>Пароль або ім'я користувача введено не вірно</p>
                        {% endif %}

                        <div class="social-auth-buttons">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url "social:begin" "facebook" %}"
                                       class="btn-block btn-lg btn btn-facebook"><i class="fa fa-facebook"></i>
                                        Реєстрація через Facebook
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url "social:begin" "google-oauth2" %}"
                                       class="btn-block btn-lg btn btn-twitter"><i class="fa fa-google"></i>
                                        Реєстрація через Google
                                    </a>
                                </div>
                            </div>
                        </div>

                        <form role="form" class="login-form cf-style-1" action="." method="post">
                            <div class="field-row">
                                <label>Ваш логін</label>
                                <input name="username" type="text" class="le-input">
                            </div><!-- /.field-row -->

                            <div class="field-row">
                                <label>Пароль</label>
                                <input name="password" type="password" class="le-input">
                            </div><!-- /.field-row -->

                              <div class="field-row">
                                <label>Повторіть пароль</label>
                                <input name="password2" type="password" class="le-input">
                            </div><!-- /.field-row -->

                            <div class="field-row clearfix">

                                <span class="pull-right">
                                            <a href="{% url "password_reset" %}" class="content-color bold">
                                                Забули пароль?
                                            </a>

			                        	</span>
                            </div>

                            {% csrf_token %}

                            <div class="buttons-holder">
                                <button type="submit" class="le-button huge">Реєстрація</button>
                            </div><!-- /.buttons-holder -->
                        </form><!-- /.cf-style-1 -->

                    </section><!-- /.sign-in -->
                </div><!-- /.col -->

{#                <div class="col-md-6">#}
{#                    <section class="section register inner-left-xs">#}
{#                        <h2 class="bordered">Create New Account</h2>#}
{#                        <p>Create your own Media Center account</p>#}
{##}
{#                        <form role="form" class="register-form cf-style-1">#}
{#                            <div class="field-row">#}
{#                                <label>Email</label>#}
{#                                <input type="text" class="le-input">#}
{#                            </div><!-- /.field-row -->#}
{##}
{#                            <div class="buttons-holder">#}
{#                                <button type="submit" class="le-button huge">Sign Up</button>#}
{#                            </div><!-- /.buttons-holder -->#}
{#                        </form>#}
{##}
{#                        <h2 class="semi-bold">Sign up today and you'll be able to :</h2>#}
{##}
{#                        <ul class="list-unstyled list-benefits">#}
{#                            <li><i class="fa fa-check primary-color"></i> Speed your way through the checkout</li>#}
{#                            <li><i class="fa fa-check primary-color"></i> Track your orders easily</li>#}
{#                            <li><i class="fa fa-check primary-color"></i> Keep a record of all your purchases</li>#}
{#                        </ul>#}
{##}
{#                    </section><!-- /.register -->#}
{##}
{#                </div><!-- /.col -->#}

            </div><!-- /.row -->
        </div><!-- /.container -->
    </main><!-- /.authentication -->
{% endblock %}