{% load filter_block %}

<div class="widget">
    <h1>Фільтри</h1>
    <div class="body bordered">
        <form class="js-filter" action="." method="post">
            {% if brands %}
            <div class="category-filter">
                <h2>Бренди</h2>
                <hr>
                <ul>
                    {% for brand in brands %}
                        <li>
                            <input
                                name="brands"
                                {% if selected_brands|get_item:brand.id %}checked="checked"{% endif %}
                                class="le-checkbox"
                                type="checkbox"
                                value="{{brand.id}}"
                                />
                            <label>{{ brand.name }}</label>
                            <span class="pull-right">{{ brand_quantities|get_item:brand.id }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.category-filter -->
            {% endif %}

            {% if categories %}
            <div class="category-filter">
                <h2>Категорії</h2>
                <hr>
                <ul>
                    {% for category in categories %}
                        <li>
                            <input
                                name="categories"
                                {% if selected_categories|get_item:category.id %}checked="checked"{% endif %}
                                class="le-checkbox"
                                type="checkbox"
                                value="{{category.id}}"
                                />
                            <label>{{ category.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.category-filter -->
            {% endif %}

            <div class="price-filter">
                {% if min_price < max_price %}
                <h2>Ціна</h2>
                <hr>
                {% endif %}
                <div class="price-range-holder">
                    {% if min_price < max_price %}
                    <input
                        type="text"
                        class="price-slider"
                        name="price"
                        value=""
                        data-range-min="{{ min_price }}"
                        data-range-max="{{ max_price }}"
                        data-select-min="{{ select_min_price }}"
                        data-select-max="{{ select_max_price }}"
                        >

                    <span class="min-max">
                        Ціна: {{ min_price }} грн - {{ max_price }} грн
                    </span>
                    {% endif %}
                    <br>
                    <br>
                    <span class="filter-button">
                        <a href="#" class="js-filter-button">
                              Застосувати фільтр
                        </a>
                    </span>
                </div>
            </div><!-- /.price-filter -->
        </form>
    </div><!-- /.body -->
</div><!-- /.widget -->
