<form id="search_form" action="/search/" method="get">
    <div class="control-group">
        <input class="search-field" name="query" placeholder="Пошук по товарам"/>

        <ul class="categories-filter animate-dropdown">
            <li class="dropdown">

                {% if categories %}
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       href="category-grid.html">Категорії</a>

                    <ul class="dropdown-menu" role="menu">
                        {% for category in categories %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>

        <script>
            const this_search_form = document.querySelector('#search_form');

            function send_search() {
                this_search_form.submit();
            }
        </script>

        <a onclick="send_search()" class="search-button" href="#"></a>

    </div>
</form>