{% extends "base.html" %}
{% load static %}

{% block title %}Пошук{% endblock %}

{% block content %}

    {% if query %}
        <div id="products-tab" class="wow fadeInUp">
            <div class="container">

                <h1>Товарів містять "{{ query }}"</h1>

                {% with results.count as total_results %}
                    <h3> Знайдено {{ total_results }} результатів</h3>
                {% endwith %}

                <br><br><br><br>

                <div class="tab-content">
                    <div id="grid-view" class="products-grid fade tab-pane in active">
                        <div class="product-grid-holder">
                            <div class="row no-margin">

                                {% for product in results %}
                                    <div class="col-xs-12 col-sm-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            {% if product.small_image %}
                                                <div class="image">
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img alt="{{ product.name }}"
                                                             src="{{ product.small_image.url }}"
                                                             data-echo="{{ product.small_image.url }}"
                                                             style="width: 246px; height: 186px"/>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="image">
                                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"
                                                         data-echo="{% static 'assets/images/products/product-01.jpg' %}"/>
                                                </div>
                                            {% endif %}

                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="{{ product.get_absolute_url }}">
                                                        {{ product.name }}
                                                    </a>
                                                </div>
                                                {% if product.brand %}
                                                    <div class="brand">{{ product.brand.name }}</div>
                                                {% endif %}
                                            </div>

                                            <div class="prices">
                                                {% if product.old_price %}
                                                    <div class="price-prev">{{ product.old_price }}</div>
                                                {% else %}
                                                    <div class="price-prev"></div>
                                                {% endif %}

                                                <div class="price-current pull-right">
                                                    {{ product.price }} грн
                                                </div>
                                            </div>


                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}"
                                                       class="le-button">
                                                        Детальніше
                                                    </a>
                                                </div>
                                            </div>

                                        </div><!-- /.product-item -->
                                    </div>

                                {% empty %}
                                    <p>Нічого не знайдено</p>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <p><a href="{% url "shop:products_search" %}">Шукати знову</a></p> {% else %}
                {#            <h1>Шукати товари</h1>#}
                {#            <form action="." method="get">#}
                {#                {{ form.as_p }}#}
                {#                <input type="submit" value="Search"></form>#}
            </div>
        </div>

    {% endif %}

    <br><br><br><br>

    {% include 'parts/top_brands.html' %}
{% endblock %}