{% extends 'base.html' %}
{% load static %}


{% block title %}
    Кошик
{% endblock %}

{% block content %}


    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>категорії товарів
                            </a>
                            <ul class="dropdown-menu">

                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            
                            </ul>
                        </li>

                        <li class="breadcrumb-nav-holder">
                            <ul>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'shop:product_list' %}">Головна</a>
                                </li>

                                <li class="breadcrumb-item current gray">
                                    <a>Кошик</a>
                                </li>
                            </ul>
                        </li><!-- /.breadcrumb-nav-holder -->
                    </ul>
                </nav>
            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>

    <section id="cart-page">
        <div class="container">
            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin">
                {% for item in cart %}
                    {% with product=item.product %}

                        <!-- /.cart-item START -->

                        <div class="row no-margin cart-item">
                            <div class="col-xs-12 col-sm-2 no-margin">

                                {% if product.small_image %}

                                    <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}"
                                       class="thumb-holder">
                                        <img class="lazy" alt="" src="{{ product.small_image.url }}"/>
                                    </a>

                                {% else %}

                                    <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}"
                                       class="thumb-holder">
                                        <img class="lazy" alt="" src="http://placehold.it/73x73"/>
                                    </a>

                                {% endif %}

                            </div>

                            <div class="col-xs-12 col-sm-5">
                                <div class="title">
                                    <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}">
                                        {{ product.name }}
                                    </a>
                                </div>
                                {% if product.brand %}
                                <div class="brand">{{ product.brand.name }}</div>
                                {% endif %}
                                {% if item.product.quantity %}
                                На складі залишилося {{ item.product.quantity }} штук
                                {% endif %}
                            </div>

                            <div class="col-xs-12 col-sm-3 no-margin">
                                <div class="quantity">

                                    <form action="{% url "cart:cart_add" product.id %}"
                                          method="post">
                                        <div class="form-group">
                                            {{ item.update_quantity_form.quantity }}

                                            {{ item.update_quantity_form.update }}

                                            <input class="btn btn-default" value="Змінити" type="submit">

                                        </div>

                                        {% csrf_token %}

                                    </form>

                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-2 no-margin">
                                <div class="price">
                                    {{ product.price }} грн
                                </div>
                                <a class="close-btn" href="{% url "cart:cart_remove" product.id %}"></a>
                            </div>
                        </div>

                        <!-- /.cart-item -->


                    {% endwith %}
                {% endfor %}
            </div>
            <!-- ========================================= CONTENT : END ========================================= -->

            <!-- ========================================= SIDEBAR ========================================= -->

            <div class="col-xs-12 col-md-3 no-margin sidebar ">
                <div class="widget cart-summary">
                    <h1 class="border">Кошик</h1>
                    <div class="body">
{#                        <ul class="tabled-data no-border inverse-bold">#}
{#                            <li>#}
{#                                <label>Сума</label>#}
{#                                <div class="value pull-right">{{ cart.get_total_price }} грн</div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <label>Доставка</label>#}
{#                                <div class="value pull-right">Безкоштовна</div>#}
{#                            </li>#}
{#                        </ul>#}
                        <ul id="total-price" class="tabled-data inverse-bold no-border">
                            <li>
                                <label>До сплати:</label>
                                <div class="value pull-right" style="font-size: 15px;">{{ cart.get_total_price }} грн
                                </div>
                            </li>
                        </ul>

                        <div class="buttons-holder">
                            <a class="le-button big" href="{% url 'orders:order_create' %}">Створити замовлення</a>
                            <a class="simple-link block" href="{% url 'shop:product_list' %}">Продовжити покупки</a>
                        </div>

                    </div>
                </div><!-- /.widget -->

                {#                <div id="cupon-widget" class="widget">#}
                {#                    <h1 class="border">use coupon</h1>#}
                {#                    <div class="body">#}
                {#                        <form>#}
                {#                            <div class="inline-input">#}
                {#                                <input data-placeholder="enter coupon code" type="text"/>#}
                {#                                <button class="le-button" type="submit">Apply</button>#}
                {#                            </div>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div><!-- /.widget -->#}
            </div><!-- /.sidebar -->

            <!-- ========================================= SIDEBAR : END ========================================= -->
        </div>
    </section>
{% endblock %}