{% extends 'base.html' %}
{% load static filter_block %}


{% block title %}{{ category.name }} | Інтернет-магазин GoZa{% endblock %}

{% block content %}


    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i> категорії товарів
                            </a>

                            <ul class="dropdown-menu">

                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>

                        <li class="breadcrumb-nav-holder">
                            <ul>
                                {#                                <li class="dropdown breadcrumb-item">#}
                                {#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">laptops &amp;#}
                                {#                                        computers </a>#}
                                {#                                    <ul class="dropdown-menu">#}
                                {#                                        <li>#}
                                {#                                            <a href="#">PDA</a>#}
                                {#                                            <a href="#">accesories</a>#}
                                {#                                            <a href="#">tablets</a>#}
                                {#                                            <a href="#">games</a>#}
                                {#                                            <a href="#">consoles</a>#}
                                {#                                        </li>#}
                                {#                                    </ul>#}
                                {#                                </li><!-- /.breadcrumb-item -->#}
                                {##}
                                {#                                <li class="dropdown breadcrumb-item">#}
                                {#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desktop PC </a>#}
                                {#                                    <ul class="dropdown-menu">#}
                                {#                                        <li>#}
                                {#                                            <a href="#">PDA</a>#}
                                {#                                            <a href="#">accesories</a>#}
                                {#                                            <a href="#">tablets</a>#}
                                {#                                            <a href="#">games</a>#}
                                {#                                            <a href="#">consoles</a>#}
                                {#                                        </li>#}
                                {#                                    </ul>#}
                                {#                                </li><!-- /.breadcrumb-item -->#}
                                {##}
                                <li class="breadcrumb-item">
                                    <a href="{% url 'shop:product_list' %}">Головна</a>
                                </li><!-- /.breadcrumb-item -->

                                {% if category.parent != None %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ category.parent.get_absolute_url }}">
                                            {{ category.parent }}
                                        </a>
                                    </li><!-- /.breadcrumb-item -->
                                {% endif %}

                                <li class="breadcrumb-item current">
                                    <a href="{{ category.get_absolute_url }}">
                                        {{ category.name }}
                                    </a>
                                </li><!-- /.breadcrumb-item -->

                            </ul>
                        </li><!-- /.breadcrumb-nav-holder -->

                    </ul><!-- /.inline -->
                </nav>

            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>

    <section id="category-grid">
        <div class="container">
            <!-- ========================================= SIDEBAR ========================================= -->
            <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
                <!-- ========================================= PRODUCT FILTER ========================================= -->
                {% filter %}
                <!-- ========================================= PRODUCT FILTER : END ========================================= -->
            </div>
            <!-- ========================================= SIDEBAR : END ========================================= -->

            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-sm-9 no-margin wide sidebar">


                {% if category.image %}
                    <div id="grid-page-banner">
                        <a href="#">
                            <img src="{{ category.image.url }}" alt="">
                        </a>
                    </div>
                {% else %}
                    <div id="grid-page-banner">
                        <a href="#">
                            <img src="{% static "assets/images/banners/banner-gamer.jpg" %}" alt="">
                        </a>
                    </div>
                {% endif %}

                <section id="gaming">
                    <div class="grid-list-products">
                        <h2 class="section-title">{{ category.name }}</h2>

                        <div class="control-bar">

                            {#                            <div id="popularity-sort" class="le-select">#}
                            {#                                <select data-placeholder="sort by popularity">#}
                            {#                                    <option value="1">1-100 players</option>#}
                            {#                                    <option value="2">101-200 players</option>#}
                            {#                                    <option value="3">200+ players</option>#}
                            {#                                </select>#}
                            {#                            </div>#}

                            <div id="item-count" class="le-select">
                                <select>
                                    <option value="1">24 товара</option>
                                    <option value="2">48 товара</option>
                                </select>
                            </div>

                            <div class="grid-list-buttons">
                                <ul>
                                    <li class="grid-list-button-item active"><a data-toggle="tab" href="#grid-view"><i
                                            class="fa fa-th-large"></i> Сітка</a></li>
                                    <li class="grid-list-button-item "><a data-toggle="tab" href="#list-view"><i
                                            class="fa fa-th-list"></i> Список</a></li>
                                </ul>
                            </div>
                        </div><!-- /.control-bar -->

                        <div class="tab-content">


                            <div id="grid-view" class="products-grid fade tab-pane in active">

                                <div class="product-grid-holder">
                                    <div class="row no-margin">


                                        {% if page_obj %}
                                            {% for product in page_obj %}
                                                <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                                    <div class="product-item">

                                                        {% if product.small_image %}
                                                            <div class="image">
                                                                <a href="{{ product.get_absolute_url }}">
                                                                    <img alt="{{ product.name }}"
                                                                         src="{{ product.small_image.url }}"
                                                                         data-echo="{{ product.small_image.url }}"
                                                                         style="width: 246px; height: 186px"/>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            <div class="image">
                                                                <img alt="" src="{% static 'assets/images/blank.gif' %}"
                                                                     data-echo="{% static 'assets/images/products/product-01.jpg' %}"/>
                                                            </div>
                                                        {% endif %}

                                                        <div class="body">
                                                            <div class="label-discount clear"></div>
                                                            <div class="title">
                                                                <a href="{{ product.get_absolute_url }}">
                                                                    {{ product.name }}
                                                                </a>
                                                            </div>
                                                            {% if product.brand %}
                                                            <div class="brand">{{ product.brand.name }}</div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="prices">
                                                            {% if product.old_price %}
                                                                <div class="price-prev">{{ product.old_price }}</div>
                                                            {% else %}
                                                                <div class="price-prev"></div>
                                                            {% endif %}

                                                            <div class="price-current pull-right">
                                                                {{ product.price }} грн
                                                            </div>
                                                        </div>


                                                        <div class="hover-area">
                                                            <div class="add-cart-button">
                                                                <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}"
                                                                   class="le-button">
                                                                    Детальніше
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div><!-- /.product-item -->
                                                </div>



                                            {% endfor %}

                                        {% else %}

                                            Категорія на стадії наповнення товарами

                                        {% endif %}


                                    </div><!-- /.row -->
                                </div><!-- /.product-grid-holder -->


                                <div class="pagination-holder">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-8 text-left">

                                            <ul class="pagination ">

                                                {% if page_obj.has_previous %}
                                                    <li>
                                                        <a href="?page=1">
                                                            Початок
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="?page={{ page_obj.previous_page_number }}">
                                                            << Повернутись
                                                        </a>
                                                    </li>
                                                {% endif %}


                                                {% if page_obj.has_next %}
                                                    <li>
                                                        <a href="?page={{ page_obj.next_page_number }}">
                                                            далі >>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="?page={{ page_obj.paginator.num_pages }}">
                                                            В кінець
                                                        </a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <div class="result-counter">
                                                Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}.
                                            </div>
                                        </div>

                                    </div><!-- /.row -->
                                </div><!-- /.pagination-holder -->
                            </div><!-- /.products-grid #grid-view -->


                            <div id="list-view" class="products-grid fade tab-pane ">
                                <div class="products-list">

                                    {% if page_obj %}
                                        {% for product in page_obj %}

                                            <div class="product-item product-item-holder">
                                                {#                                        <div class="ribbon red"><span>sale</span></div>#}
                                                {#                                        <div class="ribbon blue"><span>new!</span></div>#}
                                                <div class="row">
                                                    <div class="no-margin col-xs-12 col-sm-4 image-holder">
                                                        {% if product.small_image %}
                                                            <div class="image">
                                                                <img alt="{{ product.name }}"
                                                                     src="{{ product.small_image.url }}"
                                                                     data-echo="{{ product.small_image.url }}"
                                                                     style="width: 246px; height: 186px"/>
                                                            </div>
                                                        {% else %}
                                                            <div class="image">
                                                                <img alt="" src="{% static 'assets/images/blank.gif' %}"
                                                                     data-echo="{% static 'assets/images/products/product-01.jpg' %}"/>
                                                            </div>
                                                        {% endif %}
                                                    </div><!-- /.image-holder -->


                                                    <div class="no-margin col-xs-12 col-sm-5 body-holder">
                                                        <div class="body">
                                                            {#                                                            <div class="label-discount green">-50% sale</div>#}
                                                            <div class="title">
                                                                <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}">
                                                                    {{ product.name }}
                                                                </a>
                                                            </div>


                                                            {% if product.brand %}
                                                            <div class="brand">{{ product.brand.name }}</div>
                                                            {% endif %}
                                                            <div class="excerpt">
                                                                <p>
                                                                    {{ product.small_description | safe }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.body-holder -->
                                                    <div class="no-margin col-xs-12 col-sm-3 price-area">
                                                        <div class="right-clmn">


                                                            <div class="price-current">{{ product.price }} грн</div>
                                                            {% if product.old_price %}
                                                                <div class="price-prev">{{ product.old_price }} грн
                                                                </div>
                                                            {% else %}
                                                                <div class="price-prev"></div>
                                                            {% endif %}



                                                            <div class="availability"><label>Наявність:</label><span
                                                                    class="available">На складі</span></div>

                                                            <a class="le-button"
                                                               href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}">
                                                                Детальніше
                                                            </a>

                                                        </div>
                                                    </div><!-- /.price-area -->
                                                </div><!-- /.row -->
                                            </div><!-- /.product-item -->


                                        {% endfor %}

                                    {% else %}

                                        Категорія на стадії наповнення товарами

                                    {% endif %}


                                </div><!-- /.products-list -->

                                <div class="pagination-holder">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-8 text-left">

                                            <ul class="pagination ">

                                                {% if page_obj.has_previous %}
                                                    <li>
                                                        <a href="?page=1">
                                                            Початок
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="?page={{ page_obj.previous_page_number }}">
                                                            << Повернутись
                                                        </a>
                                                    </li>
                                                {% endif %}


                                                {% if page_obj.has_next %}
                                                    <li>
                                                        <a href="?page={{ page_obj.next_page_number }}">
                                                            далі >>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="?page={{ page_obj.paginator.num_pages }}">
                                                            В кінець
                                                        </a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <div class="result-counter">
                                                Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}.
                                            </div>
                                        </div>

                                    </div><!-- /.row -->
                                </div><!-- /.pagination-holder -->
                            </div><!-- /.products-grid #list-view -->

                        </div><!-- /.tab-content -->
                    </div><!-- /.grid-list-products -->

                </section><!-- /#gaming -->
            </div><!-- /.col -->
            <!-- ========================================= CONTENT : END ========================================= -->
        </div><!-- /.container -->
    </section><!-- /#category-grid -->


    {#    {% include 'parts/tabs.html' %}#}
    {# include 'parts/bestsellers.html' #}


    {#    <!-- ========================================= My test ========================================= -->#}
    {#    <section id="recently-reviewd" class="wow fadeInUp">#}
    {#        <div class="container">#}
    {#            <div class="carousel-holder hover">#}
    {##}
    {#                <div class="title-nav">#}
    {#                    <h2 class="h1">Товары</h2>#}
    {#                    <div class="nav-holder">#}
    {#                        <a href="#prev" data-target="#owl-recently-viewed"#}
    {#                           class="slider-prev btn-prev fa fa-angle-left"></a>#}
    {#                        <a href="#next" data-target="#owl-recently-viewed"#}
    {#                           class="slider-next btn-next fa fa-angle-right"></a>#}
    {#                    </div>#}
    {#                </div><!-- /.title-nav -->#}
    {##}
    {#                <div id="owl-recently-viewed" class="owl-carousel product-grid-holder">#}
    {##}
    {#                    {% for product in products %}#}
    {##}
    {#                        <div class="no-margin carousel-item product-item-holder size-small hover">#}
    {#                            <div class="product-item">#}
    {#                                <div class="ribbon red"><span>sale</span></div>#}
    {##}
    {#                                <div class="image">#}
    {#                                    {% if product.small_image %}#}
    {#                                        <img alt="" src="{{ product.small_image.url }}"#}
    {#                                             data-echo="{{ product.small_image.url }}"/>#}
    {#                                    {% else %}#}
    {#                                        <img alt="" src=""#}
    {#                                             data-echo="{% static 'assets/images/products/product-11.jpg' %}"/>#}
    {#                                    {% endif %}#}
    {#                                </div>#}
    {##}
    {#                                <div class="body">#}
    {#                                    <div class="title">#}
    {#                                        <a href="{% url 'shop:product_detail' pk=product.id slug=product.slug %}">{{ product.name }}</a>#}
    {#                                    </div>#}
    {#                                    <div class="brand">Sharp</div>#}
    {#                                </div>#}
    {#                                <div class="prices">#}
    {#                                    <div class="price-current text-right">{{ product.price }} грн</div>#}
    {#                                </div>#}
    {#                                <div class="hover-area">#}
    {#                                    <div class="add-cart-button">#}
    {#                                        <a href="single-product.html" class="le-button">В корзину</a>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="wish-compare">#}
    {#                                        <a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>#}
    {#                                        <a class="btn-add-to-compare" href="#">Compare</a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div><!-- /.product-item -->#}
    {#                        </div><!-- /.product-item-holder -->#}
    {##}
    {#                    {% endfor %}#}
    {##}
    {##}
    {#                </div><!-- /#recently-carousel -->#}
    {##}
    {#            </div><!-- /.carousel-holder -->#}
    {#        </div><!-- /.container -->#}
    {#    </section><!-- /#recently-reviewd -->#}
    {#    <!-- ========================================= My test : END ========================================= -->#}



    {#    {% include 'parts/recentlyviewed.html' %}#}
    {% include 'parts/top_brands.html' %}
{% endblock %}