{% load static %}


{% block title %}GOZA shop {% endblock %}

{% block content %}

    <style>
    body {
        background: #000;
        font-family: Tahoma, Serif, serif;
    }

    h1 {
        text-align: center;
        margin: 50px auto 0 auto;
        font-size: 60px;
        color: #fff;
    }

    img {
        display: block;
        width: 10%;
        margin: 150px auto 0 auto;
    }
    </style>

    <img src="{% static 'img/logo.png' %}" alt="GoZA">

    <h1>
        Coming soon ...
    </h1>




{% endblock %}