{% extends 'base.html' %}
{% load static %}


{% block title %}{{ product.name }} | GoZa{% endblock %}

{% block meta_description %}{{ product.seo_description | safe }}{% endblock %}

{% block content %}
    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>категорії товарів
                            </a>
                            <ul class="dropdown-menu">

                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="breadcrumb-nav-holder">
                            <ul>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'shop:product_list' %}">Головна</a>
                                </li>

                                {% if product.category.parent != None %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ product.category.parent.get_absolute_url }}">
                                            {{ product.category.parent }}
                                        </a>
                                    </li><!-- /.breadcrumb-item -->
                                {% endif %}

                                <li class="breadcrumb-item">
                                    <a href="{{ product.category.get_absolute_url }}">
                                        {{ product.category.name }}
                                    </a>
                                </li><!-- /.breadcrumb-item -->

                                <li class="breadcrumb-item current">
                                    <a>{{ product.name }}</a>
                                </li><!-- /.breadcrumb-item -->
                            </ul>
                        </li><!-- /.breadcrumb-nav-holder -->
                    </ul>
                </nav>
            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>

    <div id="single-product">
        <div class="container">

            <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                <div class="product-item-holder size-big single-product-gallery small-gallery">

                    <div id="owl-single-product" class="owl-carousel">
                        <div class="single-product-gallery-item" id="slide1">
                            {% if product.small_image %}

                                <img class="img-responsive" alt="" src="{% static 'assets/images/blank.gif' %}"
                                     data-echo="{{ product.small_image.url }}"/>



                                </div><!-- /.single-product-gallery-item -->

                                {#                                <div class="single-product-gallery-item" id="slide2">#}
                                {#                                    <a data-rel="prettyphoto" href="{{ product.full_image.url }}">#}
                                {#                                        <img class="img-responsive" alt="" src="{% static 'assets/images/blank.gif' %}"#}
                                {#                                             data-echo="{{ product.small_image.url }}"/>#}
                                {#                                    </a>#}
                                {#                                </div><!-- /.single-product-gallery-item -->#}
                                {##}
                                {#                                <div class="single-product-gallery-item" id="slide3">#}
                                {#                                    <a data-rel="prettyphoto" href="{{ product.small_image.url }}">#}
                                {#                                        <img class="img-responsive" alt="" src="{% static 'assets/images/blank.gif' %}"#}
                                {#                                             data-echo="{{ product.small_image.url }}"/>#}
                                {#                                    </a>#}
                                {#                                </div><!-- /.single-product-gallery-item -->#}

                            {% endif %}
                    </div><!-- /.single-product-slider -->


                    {#                    <div class="single-product-gallery-thumbs gallery-thumbs">#}
                    {##}
                    {#                        <div id="owl-single-product-thumbnails" class="owl-carousel">#}
                    {#                            <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0"#}
                    {#                               href="#slide1">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide1">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide1">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">#}
                    {#                                <img width="67" alt="" src="assets/images/blank.gif"#}
                    {#                                     data-echo="assets/images/products/gallery-thumb-01.jpg"/>#}
                    {#                            </a>#}
                    {#                        </div><!-- /#owl-single-product-thumbnails -->#}
                    {##}
                    {#                        <div class="nav-holder left hidden-xs">#}
                    {#                            <a class="prev-btn slider-prev" data-target="#owl-single-product-thumbnails"#}
                    {#                               href="#prev"></a>#}
                    {#                        </div><!-- /.nav-holder -->#}
                    {##}
                    {#                        <div class="nav-holder right hidden-xs">#}
                    {#                            <a class="next-btn slider-next" data-target="#owl-single-product-thumbnails"#}
                    {#                               href="#next"></a>#}
                    {#                        </div><!-- /.nav-holder -->#}
                    {##}
                    {#                    </div><!-- /.gallery-thumbs -->#}

                </div><!-- /.single-product-gallery -->
            </div><!-- /.gallery-holder -->

            <div class="no-margin col-xs-12 col-sm-7 body-holder">
                <div class="body">

                    {% if product.brand %}
                        <div class="brand-container">
                            <img src="{{ product.brand.image.url }}" height="36" title="{{ product.brand.name }}">
                        </div>
                    {% endif %}

                    <div class="availability" style="margin: 0 0 0 0;">
                        <label>Наявність:</label>
                        <span class="available">На складі</span>
                    </div>

                    <div class="title"><a href="#">{{ product.name }}</a></div>
                    {% if product.brand %}
                        <div class="brand">{{ product.brand.name }}</div>
                    {% endif %}


                    <div class="social-row">
                        <span class="st_facebook_hcount"></span>
                        <span class="st_twitter_hcount"></span>
                        <span class="st_pinterest_hcount"></span>
                    </div>


                    <div class="excerpt">
                        <p>{{ product.small_description | safe }}</p>
                    </div>

                    <div class="prices">
                        <div class="price-current">{{ product.price }} грн</div>
                        <div class="price-prev">{{ product.old_price }} грн</div>
                    </div>

                    <div class="qnt-holder">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            <div class="le-quantity">

                                <div>
                                    <a class="minus" href="#reduce"></a>
                                    <input name="quantity" readonly="readonly" type="text" value="1"/>
                                    <a class="plus" href="#add"></a>
                                </div>

                            </div>
                            <button type="submit" id="addto-cart" class="le-button huge">До кошика</button>
                        </form>

                    </div><!-- /.qnt-holder -->
                </div><!-- /.body -->

            </div><!-- /.body-holder -->
        </div><!-- /.container -->
    </div><!-- /.single-product -->

    <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
    <section id="single-product-tab">
        <div class="container">
            <div class="tab-holder">

                <ul class="nav nav-tabs simple">
                    <li class="active"><a href="#description" data-toggle="tab">Детальніше</a></li>
                    {#                    <li><a href="#additional-info" data-toggle="tab">Властивості</a></li>#}
                    <li><a href="#reviews" data-toggle="tab">Відгуки ({{ comments.count }})</a></li>
                </ul><!-- /.nav-tabs -->

                <div class="tab-content">
                    <div class="tab-pane active" id="description">

                        <p>{{ product.description | safe }}</p>

                        <div class="meta-row">
                            <div class="inline">
                                <label>Артикул:</label>
                                <span>{{ product.pk }}</span>
                            </div><!-- /.inline -->

                            <span class="seperator">/</span>

                            <div class="inline">
                                <label>Категория:</label>
                                <span>
                                    <a href="{% url 'shop:product_list_by_category' category_slug=product.category.slug %}">
                                        {{ product.category }}
                                    </a>
                                </span>
                            </div><!-- /.inline -->


                            {# Tags -------------------------------------------start#}
                            {% if product.tags.count > 0 %}
                                <span class="seperator">/</span>
                                <div class="inline">
                                    <label>Метки:</label>
                                    <span><a>{{ product.tags.all|join:", " }}</a></span>
                                </div><!-- /.inline -->
                            {% endif %}
                            {# Tags -------------------------------------------end#}


                        </div><!-- /.meta-row -->
                    </div><!-- /.tab-pane #description -->

                    {#                  <div class="tab-pane" id="additional-info">#}
                    {#                        <ul class="tabled-data">#}
                    {#                            <li>#}
                    {#                                <label>weight</label>#}
                    {#                                <div class="value">7.25 kg</div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <label>dimensions</label>#}
                    {#                                <div class="value">90x60x90 cm</div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <label>size</label>#}
                    {#                                <div class="value">one size fits all</div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <label>color</label>#}
                    {#                                <div class="value">white</div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <label>guarantee</label>#}
                    {#                                <div class="value">5 years</div>#}
                    {#                            </li>#}
                    {#                        </ul><!-- /.tabled-data -->#}
                    {##}
                    {#                        <div class="meta-row">#}
                    {#                            <div class="inline">#}
                    {#                                <label>Артикул:</label>#}
                    {#                                <span>{{ product.pk }}</span>#}
                    {#                            </div><!-- /.inline -->#}
                    {##}
                    {#                            <span class="seperator">/</span>#}
                    {##}
                    {#                            <div class="inline">#}
                    {#                                <label>Категория:</label>#}
                    {#                                <span>#}
                    {#                                    <a href="{% url 'shop:product_list_by_category' category_slug=product.category.slug %}">#}
                    {#                                        {{ product.category }}#}
                    {#                                    </a>#}
                    {#                                </span>#}
                    {#                            </div><!-- /.inline -->#}
                    {##}
                    {##}
                    {# Tags -------------------------------------------start#}
                    {#                            {% if product.tags.count > 0 %}#}
                    {#                                <span class="seperator">/</span>#}
                    {#                                <div class="inline">#}
                    {#                                    <label>Метки:</label>#}
                    {#                                    <span><a>{{ product.tags.all|join:", " }}</a></span>#}
                    {#                                </div><!-- /.inline -->#}
                    {#                            {% endif %}#}
                    {# Tags -------------------------------------------end#}
                    {##}
                    {##}
                    {#                        </div><!-- /.meta-row -->#}
                    {#                    </div><!-- /.tab-pane #additional-info -->#}


                    <div class="tab-pane" id="reviews">
                        <div class="comments">

                            {% if comments %}
                                {% with comments.count as total_comments %}
                                    <h2>Кількість відгуків - {{ total_comments }}</h2>
                                    <br>
                                {% endwith %}


                                {% for comment in comments %}
                                    <div class="comment-item">
                                        <div class="row no-margin">
                                            <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                                <div class="avatar">
                                                    <img alt="avatar"
                                                         src="{% static 'assets/images/default-avatar.jpg' %}">
                                                </div><!-- /.avatar -->
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
                                                <div class="comment-body">
                                                    <div class="meta-info">
                                                        <div class="author inline">
                                                            <a href="#" class="bold">{{ comment.name }}</a>
                                                        </div>

                                                        <div class="date inline pull-right">
                                                            {{ comment.created }}
                                                        </div>
                                                    </div><!-- /.meta-info -->
                                                    <p class="comment-text">
                                                        {{ comment.body|linebreaks }}
                                                    </p><!-- /.comment-text -->
                                                </div><!-- /.comment-body -->

                                            </div><!-- /.col -->

                                        </div><!-- /.row -->
                                    </div><!-- /.comment-item -->

                                {% empty %}
                                    <p>На даний момент відгуків про товар немає. Ви можете бути першим</p>
                                {% endfor %}

                            {% else %}
                                <p>На даний момент відгуків про товар немає. Ви можете бути першим</p>
                            {% endif %}

                        </div><!-- /.comments -->

                        {% if new_comment %}
                            <h2>Ваш відгук опубліковано! Дякуємо!</h2>
                        {% else %}


                            <div class="add-review row">
                            <div class="col-sm-8 col-xs-12">
                            <div class="new-review-form">
                            <h2>Додати відгук</h2>

                            <form action="." method="post" class="contact-form">


                                <div class="row field-row">

                                    <div class="col-xs-12 col-sm-6">
                                        <label>{{ comment_form.name.label }} *</label>
                                        <input required name="{{ comment_form.name.name }}" class="le-input">
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <label>{{ comment_form.email.label }} *</label>
                                        <input type="email" required name="{{ comment_form.email.name }}"
                                               class="le-input">
                                    </div>

                                </div><!-- /.field-row -->


                                <div class="field-row">
                                    <label>{{ comment_form.body.label }}</label>
                                    <textarea required name="{{ comment_form.body.name }}" rows="8"
                                              class="le-input"></textarea>
                                </div><!-- /.field-row -->

                                {% csrf_token %}
                                <button type="submit" class="le-button huge">Публікація</button>
                            </form>
                        {% endif %}


                        </div><!-- /.tab-pane #reviews -->
                        </div><!-- /.tab-content -->

                        </div><!-- /.tab-holder -->
                    </div><!-- /.container -->
    </section><!-- /#single-product-tab -->
    <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
{% endblock %}