{% extends 'base.html' %}
{% load static %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}

    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>категорії товарів
                            </a>
                            <ul class="dropdown-menu">

                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>

                        <li class="breadcrumb-nav-holder">
                            <ul>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'shop:product_list' %}">Головна</a>
                                </li>

                                <li class="breadcrumb-item gray">
                                    <a href="{% url "cart:cart_detail" %}">Кошик</a>
                                </li>

                                <li class="breadcrumb-item current ">
                                    <a>Нове замовлення</a>
                                </li>
                            </ul>
                        </li><!-- /.breadcrumb-nav-holder -->
                    </ul>
                </nav>
            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>

    <!-- ========================================= CONTENT ========================================= -->
    <section id="checkout-page">
        <div class="container">
            <div class="col-xs-12 no-margin">
                <form action="." method="post" id="order_form">
                    <div class="billing-address">
                        <h2 class="border h1">Інформація про клієнта</h2>


                        {% csrf_token %}

                        <div class="row field-row">
                            <div class="col-xs-12 col-sm-6">
                                <label>{{ form.first_name.label }} *</label>
                                <input required name="{{ form.first_name.name }}" class="le-input">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label>{{ form.last_name.label }} *</label>
                                <input required name="{{ form.last_name.name }}" class="le-input">
                            </div>
                        </div><!-- /.field-row -->


                        <div class="row field-row">

                            <div class="col-xs-12 col-sm-4">
                                <label>{{ form.mobile.label }} *</label>
                                <input required name="{{ form.mobile.name }}" class="le-input">
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <label>{{ form.city.label }}</label>
                                <input required name="{{ form.city.name }}" class="le-input">
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <label for="{{ form.email.name }}">{{ form.email.label }}</label>
                                <input id="{{ form.email.name }}" type="email" name="{{ form.email.name }}"
                                       class="le-input">
                            </div>
                        </div><!-- /.field-row -->


                        {#                        <div class="row field-row">#}
                        {#                            <div id="create-account" class="col-xs-12">#}
                        {#                                <input class="le-checkbox big" type="checkbox"/>#}
                        {#                                <a class="simple-link bold" href="#">Створити акаунт?</a> - ви отримаєте листа на#}
                        {#                                email-скриньку з вашим логіном та паролем який ви легко поміняєте#}
                        {#                            </div>#}
                        {#                        </div><!-- /.field-row -->#}


                    </div><!-- /.billing-address -->


                    <section id="your-order">
                        <h2 class="border h1">Ваше замовлення</h2>



                        {% for item in cart %}
                            <div id="order_item_create_page" class="row no-margin order-item">

                                <div class="col-xs-12 col-sm-1">
                                    <a href="#" class="qty text-center">{{ item.quantity }} x</a>
                                </div>

                                <div class="col-xs-12 col-sm-9 ">
                                    <div class="title text-center">
                                        <a href="{{ item.product.get_absolute_url }}">
                                            {{ item.product.name }}
                                        </a>
                                    </div>
                                    <div class="brand text-center">
                                        {{ item.product.brand }}
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-2">
                                    <div class="price text-center">{{ item.total_price }} грн</div>
                                </div>


                            </div><!-- /.order-item -->
                        {% endfor %}

                    </section><!-- /#your-order -->


                    <div id="payment-method-options">

                        <div class="payment-method-option">
                            <input class="le-radio" type="radio" name="{{ form.delivery.name }}" value="NovaPoshta">
                            <div class="radio-label bold ">Нова Пошта<br>

                                <div class="hidden" id="np_hddn">
                                    <p>
                                        {#                                    <a href="https://novaposhta.ua/ru/office/list" target="_blank">Відділення</a>#}

                                        <br><br>

                                        <input name="delivery_detail" placeholder="Номер відділення">
                                    </p>
                                </div>

                            </div>
                        </div><!-- /.payment-method-option -->


                        <div class="payment-method-option">
                            <input class="le-radio" type="radio" name="{{ form.delivery.name }}" value="UKRPoshta">
                            <div class="radio-label bold ">Укрпошта<br>
                                <div class="hidden" id="up_hddn">
                                    <p>
                                        {#                                    <a href="https://offices.ukrposhta.ua/" target="_blank">Відділення</a>#}

                                        <br><br>

                                        <input name="delivery_detail" placeholder="Індекс, або номер відділення">
                                    </p>
                                </div>

                            </div>

                        </div><!-- /.payment-method-option -->

                        <div class="payment-method-option">
                            <input class="le-radio" type="radio" name="{{ form.delivery.name }}" value="Samovuviz">
                            <div class="radio-label bold ">Самовивіз</div>
                        </div><!-- /.payment-method-option -->

                    </div><!-- /#payment-method-options -->

                    <div id="total-area" class="row no-margin">
                        <div class="col-xs-12 col-lg-4 col-lg-offset-8 no-margin-right">
                            <div id="subtotal-holder">


                                <ul id="total-field" class="tabled-data inverse-bold ">
                                    <li>
                                        <label>Загальна сума</label>
                                        <div class="value">
                                            {{ cart.get_total_price }} грн
                                        </div>
                                    </li>
                                </ul><!-- /.tabled-data -->

                            </div><!-- /#subtotal-holder -->
                        </div><!-- /.col -->
                    </div><!-- /#total-area -->


                    <div class="place-order-button">
                        <button type="submit" class="le-button big">Підтвердити замовлення</button>
                    </div><!-- /.place-order-button -->
                </form>
            </div><!-- /.col -->


        </div><!-- /.container -->
    </section><!-- /#checkout-page -->
    <!-- ========================================= CONTENT : END ========================================= -->


{% endblock %}


{% block scripts %}
    <script>
        $(function () {

            const order_form = $('#order_form');
            const radio_item = $('input:radio[name=delivery]');

            const np_hddn = $('#np_hddn');
            const up_hddn = $('#up_hddn');

            radio_item.change(function () {
                if (this.value == 'NovaPoshta') {
                    up_hddn.addClass('hidden');
                    np_hddn.removeClass('hidden');
                } else if (this.value == 'UKRPoshta') {
                    up_hddn.removeClass('hidden');
                    np_hddn.addClass('hidden');
                } else if (this.value == 'Samovuviz') {
                    up_hddn.addClass('hidden');
                    np_hddn.addClass('hidden');
                }
            });

            order_form.submit(function () {
                if ($( "input:checked" ).val() == 'NovaPoshta') {
                    up_hddn.empty();
                } else if ($( "input:checked" ).val() == 'UKRPoshta') {
                    np_hddn.empty();
                } else if ($( "input:checked" ).val() == 'Samovuviz') {
                    up_hddn.empty();
                    np_hddn.empty();
                }
            })

        });
    </script>
{% endblock %}