{% extends 'base.html' %}
{% load static %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}


    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>категорії товарів
                            </a>
                            <ul class="dropdown-menu">

                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </li>

                        <li class="breadcrumb-nav-holder">
                            <ul>
                                <li class="breadcrumb-item current">
                                    <a href="{% url 'shop:product_list' %}">Головна</a>
                                </li>
                            </ul>
                        </li><!-- /.breadcrumb-nav-holder -->
                    </ul>
                </nav>
            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>

    <section id="checkout-page">
        <div class="container">
            <div class="col-xs-12 no-margin">
                <form action="." method="post">
                    <div class="billing-address">
                        <h2 class="border h1 text-center">
                            Дякуємо за замовлення!
                        </h2>

                        <p class="text-center">Ваше замовлення успішно відправленно. Номер вашого замовлення
                            <strong>{{ order.id }}</strong>.
                        </p>


                    </div><!-- /.container -->
    </section><!-- /#checkout-page -->
{% endblock %}