{% load static %}

<!-- ========================================= HOME BANNERS ========================================= -->
<section id="banner-holder" class="wow fadeInUp">
    <div class="container">

        {% for cat in categories %}

            {% if cat.available_on_main %}

                <div class="col-xs-12 col-lg-6 {% if not forloop.first  %}text-right{% endif%} no-margin banner">
                    <a href="{{ cat.get_absolute_url }}">

                        <div class="banner-text theblue">
                            <h1>{{ cat.name }}</h1>
                            {#                                <span class="tagline">Опис категорії</span>#}
                        </div>

                        {% if cat.small_image %}
                            <img class="banner-image" alt="{{ cat.name }} GoZa" src="{{ cat.small_image.url }}"
                                 data-echo="{{ cat.small_image.url }}"/>
                        {% else %}
                            <img class="banner-image" alt="GoZa" src="{% static "assets/images/blank.gif" %}"
                                 data-echo="{% static "assets/images/banners/banner-narrow-01.jpg" %}"/>
                        {% endif %}
                    </a>

                </div>
            {% endif %}

        {% endfor %}


    </div><!-- /.container -->
</section><!-- /#banner-holder -->
<!-- ========================================= HOME BANNERS : END ========================================= -->