{% load static %}

<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="color-bg">
    {#    <div class="container">#}
    {#        <div class="row no-margin widgets-row">#}
    {#            <div class="col-xs-12  col-sm-4 no-margin-left">#}
    {#                <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->#}
    {#                <div class="widget">#}
    {#                    <h2>Featured products</h2>#}
    {#                    <div class="body">#}
    {#                        <ul>#}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">Netbook Acer Travel B113-E-10072</a>.#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-01.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {##}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-02.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {##}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-03.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </div><!-- /.body -->#}
    {#                </div> <!-- /.widget -->#}
    {#                <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->#}
    {#            </div><!-- /.col -->#}
    {##}
    {#            <div class="col-xs-12 col-sm-4 ">#}
    {#                <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->#}
    {#                <div class="widget">#}
    {#                    <h2>On-Sale Products</h2>#}
    {#                    <div class="body">#}
    {#                        <ul>#}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">HP Scanner 2910P</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-04.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {##}
    {#                            </li>#}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">Galaxy Tab 3 GT-P5210 16GB, Wi-Fi, 10.1in -#}
    {#                                            White</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-05.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {##}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static "assets/images/blank.gif" %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-06.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </div><!-- /.body -->#}
    {#                </div> <!-- /.widget -->#}
    {#                <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->#}
    {#            </div><!-- /.col -->#}
    {##}
    {#            <div class="col-xs-12 col-sm-4 ">#}
    {#                <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->#}
    {#                <div class="widget">#}
    {#                    <h2>Top Rated Products</h2>#}
    {#                    <div class="body">#}
    {#                        <ul>#}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">Galaxy Tab GT-P5210, 10" 16GB Wi-Fi</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-07.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {##}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-08.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </li>#}
    {##}
    {#                            <li>#}
    {#                                <div class="row">#}
    {#                                    <div class="col-xs-12 col-sm-9 no-margin">#}
    {#                                        <a href="single-product.html">Surface RT 64GB, Wi-Fi, 10.6in - Dark#}
    {#                                            Titanium</a>#}
    {#                                        <div class="price">#}
    {#                                            <div class="price-prev">$2000</div>#}
    {#                                            <div class="price-current">$1873</div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {##}
    {#                                    <div class="col-xs-12 col-sm-3 no-margin">#}
    {#                                        <a href="#" class="thumb-holder">#}
    {#                                            <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
    {#                                                 data-echo="{% static 'assets/images/products/product-small-09.jpg' %}"/>#}
    {#                                        </a>#}
    {#                                    </div>#}
    {##}
    {#                                </div>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </div><!-- /.body -->#}
    {#                </div><!-- /.widget -->#}
    {#                <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->#}
    {#            </div><!-- /.col -->#}
    {#        </div><!-- /.widgets-row-->#}
    {#    </div><!-- /.container -->#}

    {#    <div class="sub-form-row">#}
    {#        <div class="container">#}
    {#            <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">#}
    {#                <form role="form">#}
    {#                    <input placeholder="Напишіть ваш email, щоб отримувати корисну розсилку">#}
    {#                    <button class="le-button">#}
    {#                        Згода!#}
    {#                    </button>#}
    {#                </form>#}
    {#            </div>#}
    {#        </div><!-- /.container -->#}
    {#    </div><!-- /.sub-form-row -->#}

    <div class="link-list-row">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">
                <!-- ============================================================= CONTACT INFO ============================================================= -->
                <div class="contact-info">
                    <div class="footer-logo">
                        <img style="transform: scale(1.3)" alt="Goza" src="{% static 'img/logo.png' %}"/>
                    </div><!-- /.footer-logo -->

                    <p class="regular-bold">
                        Наш досвід - Ваш результат. <br>
                        Вирощуй легко, замовляй безпечно. <br>
                        Go za покупками!
                    </p>

                    <p>
                        Україна, Херсон, вул. Маяковського, 26, 73009
                    </p>

                    <div class="social-icons">
                        <h3>Ми також тут:</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/goza.goza.127201/" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.instagram.com/bystryy_agronom/" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCe8t7izzBBi7VwG1KIET48Q" class="fa fa-youtube"></a></li>

                        </ul>
                    </div><!-- /.social-icons -->

                </div>
                <!-- ============================================================= CONTACT INFO : END ============================================================= -->
            </div>

            <div class="col-xs-12 col-md-8 no-margin">
                <!-- ============================================================= LINKS FOOTER ============================================================= -->
                {# if isset categories. Needed for normal work in other applications  #}
                {% if categories %}

                    <div class="link-widget">
                        <div class="widget">
                            <h3>Категорії</h3>

                            <ul>
                                {% for category in categories %}
                                    {% if category.is_root_node %} {# get only root nodes #}
                                        <li>
                                            <a href="{% url 'shop:product_list_by_category' category_slug=category.slug %}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->
                {% endif %}

                {#                <div class="link-widget">#}
                {#                    <div class="widget">#}
                {#                        <h3>Про проєкт</h3>#}
                {#                        <ul>#}
                {#                            <li><a href="category-grid.html">Команда GOZA</a></li>#}
                {#                            <li><a href="category-grid.html">Контакти</a></li>#}
                {#                            <li><a href="category-grid.html">Вакансії</a></li>#}
                {##}
                {#                        </ul>#}
                {#                    </div><!-- /.widget -->#}
                {#                </div><!-- /.link-widget -->#}

                {#                <div class="link-widget">#}
                {#                    <div class="widget">#}
                {#                        <h3>Інфомація</h3>#}
                {#                        <ul>#}
                {#                            <li><a href="{% url "register" %}">Реєстрація</a></li>#}
                {#                            <li><a href="{% url "login" %}">Вхід</a></li>#}
                {#                            <li><a href="#">Запитання / Відповідь</a></li>#}
                {#                            <li><a href="#">Зворотній зв'язок</a></li>#}
                {#                        </ul>#}
                {#                    </div><!-- /.widget -->#}
                {#                </div><!-- /.link-widget -->#}
                <!-- ============================================================= LINKS FOOTER : END ============================================================= -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.link-list-row -->

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    &copy; <a href="{% url 'shop:product_list' %}">GOZA</a> - Всі права захищенно
                </div><!-- /.copyright -->
            </div>
            <div class="col-xs-12 col-sm-6 no-margin">
                {#                <div class="payment-methods ">#}
                {#                    <ul>#}
                {#                        <li><img alt="" src="{% static 'assets/images/payments/payment-visa.png' %}"></li>#}
                {#                        <li><img alt="" src="{% static 'assets/images/payments/payment-master.png' %}"></li>#}
                {#                    </ul>#}
                {#                </div><!-- /.payment-methods -->#}
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</footer><!-- /#footer -->
<!-- ============================================================= FOOTER : END ============================================================= -->