{% load static search_block %}

<!-- ============================================================= HEADER ============================================================= -->
<header>
    <div class="container no-padding">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo">
                <a href="{% url 'shop:product_list' %}">
                    <img style='transform: scale(1.6); margin: 0 auto; display: block;' alt="Goza" src="{% static 'img/logo.png' %}" width="233" height="54"/>
                </a>
            </div><!-- /.logo -->
            <!-- ============================================================= LOGO : END ============================================================= -->
        </div><!-- /.logo-holder -->

        <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder no-margin">
            <div class="contact-row">
                <div class="phone inline">
                    <i class="fa fa-phone"></i> +380 (50) 990 76 78
                </div>

                <div class="phone inline">
                    <i class="fa fa-phone"></i> +380 (96) 292 50 28
                </div>


                <div class="contact inline">
                    <i class="fa fa-envelope"></i> gozacomua@<span class="le-color">gmail.com</span>
                </div>
            </div><!-- /.contact-row -->
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
                {% search %}
            </div><!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div><!-- /.top-search-holder -->

        <div class="col-xs-12 col-sm-12 col-md-3 top-cart-row no-margin">
            <div class="top-cart-row-container">
                <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                {% with total_items=cart|length %}


                    {% if cart|length > 0 %}{# check cart items #}

                        <div class="top-cart-holder dropdown animate-dropdown">
                        <div class="basket">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div class="basket-item-count">
                                <span class="count">{{ total_items }}</span>
                                <img src="{% static 'assets/images/icon-cart.png' %}" alt=""/>
                            </div>

                            <div class="total-price-basket">
                                <span class="lbl">Кошик:</span>
                                <span class="total-price">

                                <span class="value">{{ cart.get_total_price | floatformat:2 }}</span>
                                <span class="sign">грн</span>
                            </span>
                            </div>
                        </a>
                    {% else %}

                        {# if cart empty #}
                        <div class="top-cart-holder animate-dropdown">
                        <div class="basket">
                        <a class="dropdown-toggle" href="{% url "cart:cart_detail" %}">
                            <div class="basket-item-count">
                                <span class="count">0</span>
                                <img src="{% static 'assets/images/icon-cart.png' %}" alt=""/>
                            </div>

                            <div class="total-price-basket">
                                <span class="lbl">Кошик:</span>
                                <span class="total-price">

                                <span class="value">0</span>
                                <span class="sign">грн</span>
                            </span>
                            </div>
                        </a>


                    {% endif %}
                {% endwith %}

                <ul class="dropdown-menu">
                    <li class="checkout">
                        <div class="basket-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 text-center">
                                    <a href="{% url 'cart:cart_detail' %}" class="le-button inverse">Список покупок</a>
                                </div>
                                <div class="col-xs-12 col-sm-6 text-center">
                                    <a href="{% url "orders:order_create" %}" class="le-button">Створити замовленя</a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                </div><!-- /.basket -->
                </div><!-- /.top-cart-holder -->
                </div><!-- /.top-cart-row-container -->
                <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
                </div><!-- /.top-cart-row -->
            </div><!-- /.container -->
</header>
<!-- ============================================================= HEADER : END ============================================================= -->
