{% load static %}
{% load mptt_tags %}

<div id="top-banner-and-menu">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ================================== TOP NAVIGATION ================================== -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-list"></i>Категорії</div>
                <nav class="yamm megamenu-horizontal" role="navigation">
                    <ul class="nav">


                        {% recursetree categories %}

                            {% if not node.is_leaf_node %}
                                <li class="dropdown menu-item">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/{{ node.slug }}">
                                        {{ node.name }}
                                    </a>
                                    <ul class="dropdown-menu mega-menu">
                                        <li class="yamm-content">
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <ul class="list-unstyled">
                                                        {{ children }}
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>



                            {% else %}
                                <li class="menu-item">
                                    <a href="{% url 'shop:product_list_by_category' category_slug=node.slug %}">
                                        {{ node.name }}
                                    </a>
                                </li>
                            {% endif %}

                        {% endrecursetree %}

                    </ul><!-- /.nav -->
                </nav><!-- /.megamenu-horizontal -->
            </div><!-- /.side-menu -->
            <!-- ================================== TOP NAVIGATION : END ================================== -->
        </div><!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
            <!-- ========================================== SECTION – HERO ========================================= -->
            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                    <div class="item"
                         style="background-image: url({% static 'assets/images/sliders/slider01.jpg' %});">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1">
                                    Купуйте вигідно<span class="big"></span>
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    Та за розумними цінами!
                                </div>

{#                                <div class="small fadeInDown-2">#}
{#                                    Ваші данні в беспеці#}
{#                                </div>#}


{#                                <div class="button-holder fadeInDown-3">#}
{#                                    <a href="{% url 'register' %}" class="big le-button ">Реєстрація</a>#}
{#                                </div>#}


                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

{#                    <div class="item"#}
{#                         style="background-image: url({% static 'assets/images/sliders/slider02.jpg' %});">#}
{#                        <div class="container-fluid">#}
{#                            <div class="caption vertical-center text-left">#}
{#                                <div class="big-text fadeInDown-1">#}
{#                                    Want a<span class="big"><span class="sign">$</span>200</span>Discount?#}
{#                                </div>#}
{##}
{#                                <div class="excerpt fadeInDown-2">#}
{#                                    on selected <br>desktop pcs<br>#}
{#                                </div>#}
{#                                <div class="small fadeInDown-2">#}
{#                                    terms and conditions apply#}
{#                                </div>#}
{#                                <div class="button-holder fadeInDown-3">#}
{#                                    <a href="single-product.html" class="big le-button ">shop now</a>#}
{#                                </div>#}
{#                            </div><!-- /.caption -->#}
{#                        </div><!-- /.container-fluid -->#}
{#                    </div><!-- /.item -->#}

                </div><!-- /.owl-carousel -->
            </div>
            <!-- ========================================= SECTION – HERO : END ========================================= -->
        </div><!-- /.homebanner-holder -->
    </div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->