{% load static %}

<div id="products-tab" class="wow fadeInUp">
    <div class="container">
        <div class="tab-holder">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#new-arrivals" data-toggle="tab">Новинки</a></li>
{#                <li><a href="#top-sales" data-toggle="tab">Лідери продажів</a></li>#}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                {# NEWEST   #}
                <div class="tab-pane active" id="new-arrivals">

                    <div class="product-grid-holder">
                        <div class="row no-margin">
                            {% for product in page_obj %}

                                <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue"><span>новинка!</span></div>


                                        {% if product.small_image %}
                                            <div class="image">
                                                <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}">
                                                    <img alt="{{ product.name }}" src="{{ product.small_image.url }}"
                                                        data-echo="{{ product.small_image.url }}"/>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="image">
                                                <img alt="" src="{% static 'assets/images/blank.gif' %}"
                                                    data-echo="{% static 'assets/images/products/product-02.jpg' %}"/>
                                            </div>
                                        {% endif %}


                                        <div class="body">
                                            <div class="label-discount clear"></div>
                                            <div class="title">
                                                <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}">
                                                    {{ product.name }}
                                                </a>
                                            </div>
                                            <div class="brand">{{ product.brand }}</div>
                                        </div>
                                        <div class="prices">

                                            {% if product.old_price %}
                                                <div class="price-prev">{{ product.old_price }}</div>
                                            {% else %}
                                                <div class="price-prev"></div>
                                            {% endif %}

                                            <div class="price-current pull-right">
                                                {{ product.price }} грн
                                            </div>
                                        </div>
                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <a href="{% url 'shop:product_detail' category_slug=product.category.slug pk=product.id slug=product.slug %}"
                                                class="le-button">
                                                    Детальніше
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>

                    <div class="pagination-holder">
                        <div class="row">

                            <div class="col-xs-12 col-sm-8 text-left">

                                <ul class="pagination ">

                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a href="?page=1">
                                                Початок
                                            </a>
                                        </li>

                                        <li>
                                            <a href="?page={{ page_obj.previous_page_number }}">
                                                << Повернутись
                                            </a>
                                        </li>
                                    {% endif %}


                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="?page={{ page_obj.next_page_number }}">
                                                далі >>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="?page={{ page_obj.paginator.num_pages }}">
                                                В кінець
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="result-counter">
                                    Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}.
                                </div>
                            </div>

                        </div><!-- /.row -->
                    </div><!-- /.pagination-holder -->

                </div>
                {# NEWEST END  #}


                {# SALES leaders  #}

{#                <div class="tab-pane" id="top-sales">#}
{#                    <div class="product-grid-holder">#}
{##}
{#                        <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">#}
{#                            <div class="product-item">#}
{#                                <div class="ribbon red"><span>sale</span></div>#}
{#                                <div class="ribbon green"><span>bestseller</span></div>#}
{#                                <div class="image">#}
{#                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
{#                                         data-echo="{% static 'assets/images/products/product-04.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="body">#}
{#                                    <div class="label-discount clear"></div>#}
{#                                    <div class="title">#}
{#                                        <a href="single-product.html">Netbook Acer TravelMate#}
{#                                            B113-E-10072</a>#}
{#                                    </div>#}
{#                                    <div class="brand">acer</div>#}
{#                                </div>#}
{#                                <div class="prices">#}
{#                                    <div class="price-prev">$1399.00</div>#}
{#                                    <div class="price-current pull-right">$1199.00</div>#}
{#                                </div>#}
{#                                <div class="hover-area">#}
{#                                    <div class="add-cart-button">#}
{#                                        <a href="single-product.html" class="le-button">add to cart</a>#}
{#                                    </div>#}
{#                                    <div class="wish-compare">#}
{#                                        <a class="btn-add-to-wishlist" href="#">add to wishlist</a>#}
{#                                        <a class="btn-add-to-compare" href="#">compare</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">#}
{#                            <div class="product-item">#}
{##}
{#                                <div class="image">#}
{#                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
{#                                         data-echo="{% static 'assets/images/products/product-03.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="body">#}
{#                                    <div class="label-discount clear"></div>#}
{#                                    <div class="title">#}
{#                                        <a href="single-product.html">POV Action Cam</a>#}
{#                                    </div>#}
{#                                    <div class="brand">sony</div>#}
{#                                </div>#}
{#                                <div class="prices">#}
{#                                    <div class="price-prev">$1399.00</div>#}
{#                                    <div class="price-current pull-right">$1199.00</div>#}
{#                                </div>#}
{#                                <div class="hover-area">#}
{#                                    <div class="add-cart-button">#}
{#                                        <a href="single-product.html" class="le-button">add to cart</a>#}
{#                                    </div>#}
{#                                    <div class="wish-compare">#}
{#                                        <a class="btn-add-to-wishlist" href="#">add to wishlist</a>#}
{#                                        <a class="btn-add-to-compare" href="#">compare</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">#}
{#                            <div class="product-item">#}
{#                                <div class="ribbon blue"><span>new!</span></div>#}
{#                                <div class="image">#}
{#                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
{#                                         data-echo="{% static 'assets/images/products/product-02.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="body">#}
{#                                    <div class="label-discount clear"></div>#}
{#                                    <div class="title">#}
{#                                        <a href="single-product.html">White lumia 9001</a>#}
{#                                    </div>#}
{#                                    <div class="brand">nokia</div>#}
{#                                </div>#}
{#                                <div class="prices">#}
{#                                    <div class="price-prev">$1399.00</div>#}
{#                                    <div class="price-current pull-right">$1199.00</div>#}
{#                                </div>#}
{#                                <div class="hover-area">#}
{#                                    <div class="add-cart-button">#}
{#                                        <a href="single-product.html" class="le-button">add to cart</a>#}
{#                                    </div>#}
{#                                    <div class="wish-compare">#}
{#                                        <a class="btn-add-to-wishlist" href="#">add to wishlist</a>#}
{#                                        <a class="btn-add-to-compare" href="#">compare</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">#}
{#                            <div class="product-item">#}
{#                                <div class="ribbon red"><span>sale</span></div>#}
{#                                <div class="image">#}
{#                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"#}
{#                                         data-echo="{% static 'assets/images/products/product-01.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="body">#}
{#                                    <div class="label-discount green">-50% sale</div>#}
{#                                    <div class="title">#}
{#                                        <a href="single-product.html">VAIO Fit Laptop - Windows 8 SVF14322CXW</a>#}
{#                                    </div>#}
{#                                    <div class="brand">sony</div>#}
{#                                </div>#}
{#                                <div class="prices">#}
{#                                    <div class="price-prev">$1399.00</div>#}
{#                                    <div class="price-current pull-right">$1199.00</div>#}
{#                                </div>#}
{##}
{#                                <div class="hover-area">#}
{#                                    <div class="add-cart-button">#}
{#                                        <a href="single-product.html" class="le-button">add to cart</a>#}
{#                                    </div>#}
{#                                    <div class="wish-compare">#}
{#                                        <a class="btn-add-to-wishlist" href="#">add to wishlist</a>#}
{#                                        <a class="btn-add-to-compare" href="#">compare</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="loadmore-holder text-center">#}
{#                        <a class="btn-loadmore" href="#">#}
{#                            <i class="fa fa-plus"></i>#}
{#                            load more products</a>#}
{#                    </div>#}
{#                </div>#}
            </div>

            {# SALES leaders  END #}
        </div>
    </div>
</div>

<br><br><br><br>