{% load static %}

<!-- ========================================= TOP BRANDS ========================================= -->
<section id="top-brands" class="wow fadeInUp">
    <div class="container">
        <div class="carousel-holder">

            <div class="title-nav">
                <h1>Виробники</h1>
                <div class="nav-holder">
                    <a href="#prev" data-target="#owl-brands" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="#next" data-target="#owl-brands" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <div id="owl-brands" class="owl-carousel brands-carousel">

                {% if brands %}

                    {% for brand in brands %}
                        <div class="carousel-item">
{#                            <a href="#">#}
                                <img alt="" src="{{ brand.image.url }}"/>
{#                            </a>#}
                        </div><!-- /.carousel-item -->
                    {% endfor %}

                {% else %}
                    <div class="carousel-item">
                        <a href="#">
                            <img alt="" src="{% static 'assets/images/brands/brand-01.jpg' %}"/>
                        </a>
                    </div><!-- /.carousel-item -->
                {% endif %}


            </div><!-- /.brands-caresoul -->

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section><!-- /#top-brands -->
<!-- ========================================= TOP BRANDS : END ========================================= -->