<!-- ============================================================= TOP NAVIGATION ============================================================= -->
<nav class="top-bar animate-dropdown">
    <div class="container">

        <div class="col-xs-12 col-sm-6 no-margin">
            <ul>
                <li><a href="{% url 'shop:product_list' %}">Головна</a></li>
                <li><a href="{% url 'cart:cart_detail' %}">Кошик</a></li>
{#                <li><a href="#">Новини</a></li>#}
    {#                <li><a href="#">Запитання / Відповідь</a></li>#}
    {#                <li><a href="#">Контакти</a></li>#}
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right">

{#                <li>#}
{#                    <a href="{% url 'register' %}">Реєстрація</a>#}
{#                </li>#}
{##}
{#                <li>#}
{#                    <a href="{% url 'login' %}">Вхід</a>#}
{#                </li>#}

                <li>
                    Вітаємо!
                </li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.container -->
</nav><!-- /.top-bar -->
<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->
